<footer class="p-4 bg-dark text-white">
    <div class="container" style="font-size:1em; text-align: center;">
        <%- i18nfooterprojname %>
        |
        <a href="<%= discord %>"><%- i18nfooterdiscord %></a>
        |
        <a href="<%- twitter %>"><%- i18nfootertwitter %></a>
        |
        <a href="mailto:btsbot@439bananas.com"><%- i18nfootercontact %></a>
        |
        <a href="<%= wikiurl %>"><%- i18nfooterwiki %></a>
        |
        <a href="/credits"><%- i18nfootercredits %></a>
        |
        <a href="http://status.<%= metadomain %>"><%- i18nfooterstatus %></a>
        |
        <a href="https://github.com/439bananas/BTSBot"><%- i18nfootergithub %></a>
        |
        <a href="/translate"><%- i18nfootertranslate %></a>
        |
        <a href="/privacy-policy"><%- i18nfooterprivacypolicy %></a>
        |
        <a href="/terms-of-service"><%- i18nfootertos %></a>
    </div>
</footer>