<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="container" style="padding-top:1rem">
            <center>
                <h2><%= i18ntitle %></h2>
                <div style="padding:1rem">
                    <img src="/resources/btsthonk.png" class="img-fluid" />
                </div>
                <p>
                    <div style="font-size:1.25rem">
                        <%= i18ndescription %>
                    </div>
                </p>
                <b style="font-size:1.5rem">404</b>
            </center>
        </div>
    </main>
    <% if (footer != "") { %>
    <%- include('./partials/footer') %>
    <% } %>
</body>
</html>