<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="container">
            <h1><%= i18nheadertitle %></h1>
            <p>
                <%= i18nconfsuccessful %><br /><%= i18nconfsuccessfuldiag %>
            </p>
            <input type='submit' class='button' value='<%= i18nnextbutton %>' title="<%= i18nnextbutton %>" onClick="window.location.href='/'" />
        </div>
    </main>
</body>
</html>