<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
    <script src='/resources/smc.js'></script>
    <script>
        setTimeout(function () {
            if (<%= unknownerror %> == true) {
            $('#unknowndiscorderror').css('display', 'block');
        }
        if (<%= badclientsecret %> == true) {
            $('#badclientsecreterror').css('display', 'block');
        }
                }, 250)
    </script>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="container">
            <h1><%= i18nheadertitle %></h1>
            <%= i18nsteptwo %>
            <div class="alert-box danger text-wrap" id="cannotcontactservererror">
                SERVER_CONNECTION_REFUSED: <%= i18nserverlostcontact1 %><%= projname %><%= i18nserverlostcontact2 %><br /><%= i18nserverlostcontactdiag1 %><%= projname %><%= i18nserverlostcontactdiag2 %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="accessdeniederror">
                ACCESS_DENIED: <%= projname %><%= i18ndbaccessdenied %><br /><%= i18ndbaccessdenieddiag %><a href="/config"><%= i18nrefreshthepage %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="nomysqlconferror">
                NO_MYSQL_CONF: <%= i18nmysqlconfinterimdeleted %><br /><%= i18nmysqlconfinterimdeleteddiag %><a href="/config"><%= i18nrefreshthepage %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="connectionrefusederror">
                CONNECTION_REFUSED: <%= projname %><%= i18ndbconnectionrefused %><i id='hostname'></i>.<br /><%= i18ndbconnectionrefuseddiag %><a href="/config"><%= i18nrefreshthepage %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="incorrectcredentialserror">
                INCORRECT_CREDENTIALS: <%= i18ndbbadcreds %><br /><%= i18ndbbadcredsdiag %><a href="/config"><%= i18nrefreshthepage %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="wrongendpointerror">
                WRONG_ENDPOINT: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %><a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="confokerror">
                CONF_OK: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %><a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="tokeninvaliderror">
                TOKEN_INVALID: <%= i18ninvalidtoken %><br /><%= i18ninvalidtokendiag %>
            </div>
            <div class="alert-box danger text-wrap" id="badclientsecreterror">
                BAD_CLIENT_SECRET: <%= i18nbadclientsecret %><br /><%= i18nbadclientsecretdiag %>
            </div>
            <div class="alert-box danger text-wrap" id="unknownerror">
                UNKNOWN_ERROR: <%= i18nunknownerror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="cannotconnecttodiscorderror">
                CANNOT_CONNECT_TO_DISCORD: <%= i18ncannotconnecttodiscord %><br /><%= i18ncannotconnecttodiscorddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="unknowndiscorderror">
                UNKNOWN_DISCORD_ERROR: <%= i18nunknowndiscorderror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <form id="discordform">
                <div class="container" style="width:auto">
                    <div class="row">
                        <div class="col">
                            <label for='token' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndiscordtoken %></label>
                            <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='token' name='token' />
                        </div>
                        <div class="col">
                            <label for='clientsecret' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nclientsecret %></label>
                            <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='clientsecret' name='clientsecret' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='pstatus' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nplayingstatus %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='pstatus' name='pstatus' value="<%= pstatus %>" />
                        </div>
                        <div class="col">
                            <label for='ostatus' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nstatus %></label>
                            <select class="form-select input-cIJ7To" name="ostatus" id="ostatus">
                                <!-- Unfortunately, I would have styled the dropdown but apparently that's not possible? If it is, please submit a pull request right away. -->
                                <option <%= onlineselected %>value="online" class="dropdown-option"><%= i18nonline %></option>
                                <option <%= idleselected %>value="idle"><%= i18nidle %></option>
                                <option <%= dndselected %>value="dnd"><%= i18ndnd %></option>
                                <option <%= invisibleselected %>value="invisible"><%= i18ninvisible %></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='guildid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nsupportguildid %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='guildid' name='guildid' value="<%= guildid %>" />
                        </div>
                        <div class="col">
                            <label for='guildid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nmoderatorsroleid %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='moderatorsroleid' name='moderatorsroleid' value="<%= moderatorsroleid %>" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='password' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nmysqlpassword %></label>
                            <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='mysqlpassword' name='mysqlpassword' />
                        </div>
                    </div>
                </div>
                <div style='padding-bottom:3ex'></div>
                <input type='submit' class='button' value='<%= i18nnextbutton %>' onClick="window.event.preventDefault(); submitdiscord()" />
                <svg class="spinner submitnotifier" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
                <small style="margin-left:35px" class="submitnotifier"><%= i18nsubmittingdiscord %></small>
            </form>
            <div style='padding-bottom:1.5ex'></div>
            <a href="https://wiki.btsbot.439bananas.com/wiki/Installing#Discord_configuration"><%= i18nneedhelp %></a>
        </div>
    </main>
</body>
</html>