<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
    <script type=module>
        let langs = <%- JSON.stringify(langs) %>;
        langs.sort(function (a, b) {
            if (a[1] < b[1]) { return -1; }
            if (a[1] > b[1]) { return 1; }
            return 0;
        })
        langs.forEach(language => {
            if (language[0] == "<%= defaultlanguage %>") {
                var selected = "selected "
            } else {
                var selected = ""
            }
            $('#language').append("<option " + selected + "value=\"" + language[0] + "\" class=\"dropdown-option\" id=\"languagedropdown\">" + language[1] + "</option>")
        })
        setTimeout(function () {
            if (<%= badclientsecret %> == true) {
                $('#badclientsecreterror').css('display', 'block');
            }
        }, 250)
    </script>
    <script src='/resources/smc.js'></script>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="global-intro-section">
            <div class="container">
                <h1><%= i18nheadertitle %></h1>
            </div>
        </div>
        <div class="container" style="padding-top: 0.75em">
            <div class="alert-box danger text-wrap" id="cannotcontactservererror">
                SERVER_CONNECTION_REFUSED: <%= i18nserverlostcontact1 %><%= projname %><%= i18nserverlostcontact2 %><br /><%= i18nserverlostcontactdiag1 %><%= projname %><%= i18nserverlostcontactdiag2 %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="accessdeniederror">
                ACCESS_DENIED: <%= projname %><%= i18ndbaccessdenied %><br /><%= i18ndbaccessdenieddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="connectionrefusederror">
                CONNECTION_REFUSED: <%= projname %><%= i18ndbconnectionrefused %><em id='hostname'></em>.<br /><%= i18ndbconnectionrefuseddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="incorrectcredentialserror">
                INCORRECT_CREDENTIALS: <%= i18ndbbadcreds %><br /><%= i18ndbbadcredsdiag %>
            </div>
            <div class="alert-box danger text-wrap" id="confokerror">
                CONF_OK: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %> <a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="unknownerror">
                UNKNOWN_ERROR: <%= i18nunknownerror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="confokerror">
                CONF_OK: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %><a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="tokeninvaliderror">
                TOKEN_INVALID: <%= i18ninvalidtoken %><br /><%= i18ninvalidtokendiag %>
            </div>
            <div class="alert-box danger text-wrap" id="badclientsecreterror">
                BAD_CLIENT_SECRET: <%= i18nbadclientsecret %><br /><%= i18nbadclientsecretdiag %>
            </div>
            <div class="alert-box danger text-wrap" id="unknownerror">
                UNKNOWN_ERROR: <%= i18nunknownerror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="cannotconnecttodiscorderror">
                CANNOT_CONNECT_TO_DISCORD: <%= i18ncannotconnecttodiscord %><br /><%= i18ncannotconnecttodiscorddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="unknowndiscorderror">
                UNKNOWN_DISCORD_ERROR: <%= i18nunknowndiscorderror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <form id="configform">
                <div class="container">
                    <div class="accordion" id="configAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="mySQLHeading">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMySQL" aria-expanded="true" aria-controls="collapseMySQL">
                                    <%= i18nstep1 %>
                                </button>
                            </h2>
                            <div id="collapseMySQL" class="accordion-collapse collapse show" aria-labelledby="mySQLHeading" data-bs-parent="#configAccordion">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col">
                                            <label for='language' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndefaultlanguage %></label>
                                            <select class="size16-1__VVI form-select input-cIJ7To" name="language" id="language">
                                                <option style="display:none" value="dummy" class="dropdown-option" id="languagedropdown"></option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for='hostname' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbhost %></label>
                                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='hostname' name='hostname' value='<%= hostname %>' />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for='dbusername' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbusermame %></label>
                                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='dbusername' name='dbusername' value='<%= dbusername %>' />
                                        </div>
                                        <div class="col">
                                            <label for='dbpassword' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbpassword %></label>
                                            <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='dbpassword' name='dbpassword' />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for='database' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndb %></label>
                                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='database' name='database' value='<%= database %>' />
                                        </div>
                                        <div class="col">
                                            <label for='tableprefix' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbtableprefix %></label>
                                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='tableprefix' name='tableprefix' value='<%= tableprefix %>' />
                                        </div>
                                    </div>
                                    <div class="row mt-3 justify-content-sm-end">
                                        <a target="_blank" href="https://wiki.btsbot.439bananas.com/wiki/Installing#MySQL_configuration"><%= i18nneedhelp %></a>
                                        <div class="col">
                                            <input value='<%= i18nnextbutton %>' aria-expanded="false" class="button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiscord" aria-controls="collapseDiscord" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="discordHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiscord" aria-expanded="false" aria-controls="collapseDiscord">
                                        <%= i18nstep2 %>
                                    </button>
                                </h2>
                                <div id="collapseDiscord" class="accordion-collapse collapse" aria-labelledby="discordHeading" data-bs-parent="#configAccordion">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col">
                                                <label for='token' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndiscordtoken %></label>
                                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='token' name='token'/>
                                            </div>
                                            <div class="col">
                                                <label for='discordclientsecret' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nclientsecret %></label>
                                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='discordclientsecret' name='discordclientsecret' />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='pstatus' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nplayingstatus %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='pstatus' name='pstatus' value='<%= pstatus %>' />
                                            </div>
                                            <div class="col">
                                                <label for='ostatus' class="required label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nstatus %></label>
                                                <select class="form-select input-cIJ7To" name="ostatus" id="ostatus">
                                                    <!-- Unfortunately, I would have styled the dropdown but apparently that's not possible? If it is, please submit a pull request right away. -->
                                                    <option <%= onlineselected %>value="online" class="dropdown-option"><%= i18nonline %></option>
                                                    <option <%= idleselected %>value="idle"><%= i18nidle %></option>
                                                    <option <%= dndselected %>value="dnd"><%= i18ndnd %></option>
                                                    <option <%= invisibleselected %>value="invisible"><%= i18ninvisible %></option>
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='guildid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nsupportguildid %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='guildid' name='guildid' value='<%= guildid %>' />
                                            </div>
                                            <div class="col">
                                                <label for='moderatorsroleid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nmoderatorsroleid %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='moderatorsroleid' name='moderatorsroleid' value='<%= moderatorsroleid %>' />
                                            </div>
                                        </div>
                                        <div class="row mt-3 justify-content-sm-end">
                                            <a target="_blank" href="https://wiki.btsbot.439bananas.com/wiki/Installing#Discord_configuration"><%= i18nneedhelp %></a>
                                            <div class="col">
                                                <input value='<%= i18nnextbutton %>' aria-expanded="false" class="button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCloud" aria-controls="collapseCloud" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="cloudHeading">
                                    <button class="accordion-button collapsed" title="yes i hate the word cloud" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCloud" aria-expanded="false" aria-controls="collapseCloud">
                                        <%= i18nstep3 %>
                                    </button>
                                </h2>
                                <div id="collapseCloud" class="accordion-collapse collapse" aria-labelledby="cloudHeading" data-bs-parent="#configAccordion">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col">
                                                <label for='googleclientid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ngoogleclientid %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='googleclientid' name='googleclientid' value="<%= googleclientid %>" />
                                            </div>
                                            <div class="col">
                                                <label for='googleclientsecret' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ngoogleclientsecret %></label>
                                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='googleclientsecret' name='googleclientsecret' />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='msclientid' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nmsclientid %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='msclientid' name='msclientid' value='<%= msclientid %>' />
                                            </div>
                                            <div class="col">
                                                <label for='msclientsecret' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nmsclientsecret %></label>
                                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='msclientsecret' name='msclientsecret' />
                                            </div>
                                        </div>
                                        <div class="row mt-3 justify-content-sm-end">
                                            <a target="_blank" href="https://wiki.btsbot.439bananas.com/wiki/Installing#Cloud_services_configuration"><%= i18nneedhelp %></a>
                                            <div class="col">
                                                <input value='<%= i18nnextbutton %>' aria-expanded="false" class="button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmail" aria-controls="collapseEmail" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="emailHeading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail">
                                        <%= i18nstep4 %>
                                    </button>
                                </h2>
                                <div id="collapseEmail" class="accordion-collapse collapse" aria-labelledby="emailHeading" data-bs-parent="#configAccordion">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col">
                                                <label for='smtpserver' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nsmtpserver %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='smtpserver' name='smtpserver' value="<%= smtpserver %>" />
                                            </div>
                                            <div class="col">
                                                <label for='smtpport' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nsmtpport %></label>
                                                <input type='number' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='smtpport' name='smtpport' min="1" max="65535" value="<%= smtpport %>"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='smtpssl' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nsmtpssl %></label>
                                                <select class="form-select input-cIJ7To" name="smtpssl" id="smtpssl">
                                                    <option <%= smtpyesselected %>value="true"><%= i18ndropdownyes %></option>
                                                    <option <%= smtpnoselected %>value="false"><%= i18ndropdownno %></option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for='imapserver' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nimapserver %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='imapserver' name='imapserver' value='<%= imapserver %>' />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='imapport' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nimapport %></label>
                                                <input type='number' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='imapport' name='imapport' min="1" max="65535" value='<%= imapport %>' />
                                            </div>
                                            <div class="col">
                                                <label for='imapssl' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nimapssl %></label>
                                                <select class="form-select input-cIJ7To" name="imapssl" id="imapssl">
                                                    <option <%= imapyesselected %>value="true"><%= i18ndropdownyes %></option>
                                                    <option <%= imapnoselected %>value="false"><%= i18ndropdownno %></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='emailaddress' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nemailaddress%></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='emailaddress' name='emailaddress' value='<%= emailaddress %>' />
                                            </div>
                                            <div class="col">
                                                <label for='emailusername' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nemailusername %></label>
                                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='emailusername' name='emailusername' value='<%= emailusername %>' />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for='emailpassword' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18nemailpassword %></label>
                                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='emailpassword' name='emailpassword' />
                                            </div>
                                        </div>
                                        <div class="row mt-3 justify-content-sm-end">
                                            <a target="_blank" href="https://wiki.btsbot.439bananas.com/wiki/Installing#Email_configuration"><%= i18nneedhelp %></a>
                                            <div class="col">
                                                <input type='submit' class='submit button' value='<%= i18nsubmitbutton %>' onClick="window.event.preventDefault(); submitconfig()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>