<!DOCTYPE html>
<html>
    <head>
        <title>BTS Bot - Configuration</title>
        <link rel='stylesheet' href='/resources/main.css'>
        <link rel='stylesheet' href='/resources/twemoji-amazing.css'>
        <link href="/resources/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script src='/resources/smc.js'></script>
        <meta name="title" content="BTS Bot">
        <meta name="description" content="The bot that runs the core features in Bot Testing Server, just public">
        <meta name="keywords" content="bot, discord, test, testing, server, bots, discord bots">
        <meta name="author" content="439bananas">
        <meta name="email" content="me@439bananas.com">
        <meta name="robots" content="index, follow">
        <meta name="charset" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:url" content="<%= metaurl %>">
        <meta property="twitter:title" content="BTS Bot">
        <meta property="twitter:image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:description" content="The bot that runs the core features in Bot Testing Server, just public">
        <meta property="theme-color" content="#caaf9a">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container">
                    <a href="/" class="navbar-brand"><img src="/resources/60px.png" class="img-fluid img-thumbnail"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="<%= wikiurl %>" class="nav-link">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a href="<%= discord %>" class="nav-link">Discord</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/439bananas/BTSBot" class="nav-link">GitHub</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button type="button" class="button-1x2ahC button-38aScr lookFilled-1Gx00P colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN" onClick="window.location.href='<%= metaurl %>'">
                                    <div class="contents-18-Yxp">Official dashboard</div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1>configuration</h1>
                Step one: Enter MySQL database information
                <div class="alert-box danger text-wrap" id="cannotcontactservererror">
                    SERVER_CONNECTION_REFUSED: The BTS Bot server could not be contacted or there was an error in doing so.<br />Did BTS Bot crash? Was the bot stopped? Is there a bug? If necessary, you can join our <a href="<%= discord %>">Discord server</a> for help.
                </div>
                <div class="alert-box danger text-wrap" id="accessdeniederror">
                    ACCESS_DENIED: BTS Bot cannot interact with the database with the specified credentials.<br />Are the credentials correct? Is the host correct? Do you have permission to access the database with the account in question?
                </div>
                <div class="alert-box danger text-wrap" id="connectionrefusederror">
                    CONNECTION_REFUSED: BTS Bot cannot contact the MySQL server configured at <i id='hostname'></i>.<br /> Is the MySQL service running? Is your firewall configured correctly? Have you configured port forwarding properly?
                </div>
                <div class="alert-box danger text-wrap" id="incorrectcredentialserror">
                    INCORRECT_CREDENTIALS: The MySQL credentials provided were not recognised by the server.<br />Are your credentials correct?
                </div>
                <div class="alert-box danger text-wrap" id="unknownerror">
                    UNKNOWN_ERROR: An unknown error has occurred.<br />Refer to the console for more details.
                </div>
                <form id="sqlform">
                    <div class="container" style="width:auto">
                        <label for='hostname' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz">Database host</label>
                        <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='hostname' name='hostname' value='localhost' />
                        <label for='username' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz">Username</label>
                        <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='username' name='username' value='btsbot' />
                        <label for='password' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz">Password</label>
                        <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='password' name='password' />
                        <label for='database' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz">Database</label>
                        <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='database' name='database' value='btsbot' />
                        <label for='tableprefix' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz">Table prefix</label>
                        <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='tableprefix' name='tableprefix' />
                    </div>
                    <div style='padding-bottom:1.5ex'></div>
                    <input type='submit' class='button' value='Next' onClick="window.event.preventDefault(); submitmysql()" />
                    <svg class="spinner submitnotifier" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg>
                    <small style="margin-left:35px" class="submitnotifier">Submitting MySQL config...</small>
                </form>
                <div style='padding-bottom:1.5ex'></div>
                <a href="https://wiki.btsbot.439bananas.com/wiki/Installing#MySQL_configuration">Need help?</a>
            </div>
        </main>
    </body>
</html>