<!DOCTYPE html>
<html>
    <head>
        <title><%= projname %> - <%= i18npagetitle %></title>
        <link rel='stylesheet' href='/resources/main.css'>
        <link rel='stylesheet' href='/resources/twemoji-amazing.css'>
        <link href="/resources/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <script type=module>
            var langs = <%- JSON.stringify(langs) %>;
            langs.sort(function(a, b){
                if(a[1] < b[1]) { return -1; }
                if(a[1] > b[1]) { return 1; }
                return 0;
            })
            langs.forEach(language => {
                if (language[0] == "<%= defaultlanguage %>") {
                    var selected = "selected "
                } else {
                    var selected = ""
                }
                $('#language').append("<option " + selected + "value=\"" + language[0] + "\" class=\"dropdown-option\" id=\"languagedropdown\">" + language[1] + "</option>")
            })
        </script>
        <script src='/resources/smc.js'></script>
        <meta charset="UTF-8">
        <meta name="title" content="<%= projname %>">
        <meta name="description" content="<%= i18ngdescription %>">
        <meta name="keywords" content="bot, discord, test, testing, server, bots, discord bots, BTS, BTS Bot">
        <meta name="author" content="439bananas">
        <meta name="email" content="btsbot@439bananas.com">
        <meta name="robots" content="index, follow">
        <meta name="charset" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:url" content="<%= metaurl %>">
        <meta property="twitter:title" content="<%= projname %>">
        <meta property="twitter:image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:description" content="<%= i18ngdescription %>">
        <meta property="theme-color" content="#caaf9a">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container">
                    <a href="/" class="navbar-brand"><img src="/resources/60px.png" class="img-fluid img-thumbnail"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="<%= wikiurl %>" class="nav-link"><%= i18ndocumentation %></a>
                            </li>
                            <li class="nav-item">
                                <a href="<%= discord %>" class="nav-link"><%= i18ndiscord %></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/439bananas/BTSBot" class="nav-link"><%= i18ngithub %></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button type="button" class="button-1x2ahC button-38aScr lookFilled-1Gx00P colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN" onClick="window.location.href='<%= metaurl %>'">
                                    <div class="contents-18-Yxp"><%= i18ndashboard %></div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1><%= i18nheadertitle %></h1>
                <%= i18nstepone %>
                <div class="alert-box danger text-wrap" id="cannotcontactservererror">
                    SERVER_CONNECTION_REFUSED: <%= i18nserverlostcontact1 %><%= projname %><%= i18nserverlostcontact2 %><br /><%= i18nserverlostcontactdiag1 %><%= projname %><%= i18nserverlostcontactdiag2 %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
                </div>
                <div class="alert-box danger text-wrap" id="accessdeniederror">
                    ACCESS_DENIED: <%= projname %><%= i18dbaccessdenied %><br /><%= i18dbaccessdenieddiag %>
                </div>
                <div class="alert-box danger text-wrap" id="connectionrefusederror">
                    CONNECTION_REFUSED: <%= projname %><%= i18ndbconnectionrefused %><i id='hostname'></i>.<br /><%= i18ndbconnectionrefuseddiag %>
                </div>
                <div class="alert-box danger text-wrap" id="incorrectcredentialserror">
                    INCORRECT_CREDENTIALS: <%= i18ndbbadcreds %><br /><%= i18ndbbadcredsdiag %>
                </div>
                <div class="alert-box danger text-wrap" id="wrongendpointerror">
                    WRONG_ENDPOINT: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %><a href="/"><%= i18nwrongendpointdiag2 %></a>.
                </div>
                <div class="alert-box danger text-wrap" id="confokerror">
                    CONF_OK: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %> <a href="/"><%= i18nwrongendpointdiag2 %></a>.
                </div>
                <div class="alert-box danger text-wrap" id="unknownerror">
                    UNKNOWN_ERROR: <%= i18nunknownerror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
                </div>
                <form id="sqlform">
                    <div class="container" style="width:auto">
                        <div class="row">
                            <div class="col">
                                <label for='language' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndefaultlanguage %></label>
                                <select class="form-select input-cIJ7To" name="language" id="language">
                                    <option style="display:none" value="dummy" class="dropdown-option" id="languagedropdown"></option>
                                </select>
                            </div>
                            <div class="col">
                                <label for='hostname' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbhost %></label>
                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='hostname' name='hostname' value='<%= hostname %>' />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for='username' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbusermame %></label>
                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='username' name='username' value='<%= username %>' />
                            </div>
                            <div class="col">
                                <label for='password' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbpassword %></label>
                                <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='password' name='password' />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for='database' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndb %></label>
                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='database' name='database' value='<%= database %>' />
                            </div>
                            <div class="col">
                                <label for='tableprefix' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbtableprefix %></label>
                                <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='tableprefix' name='tableprefix' value='<%= tableprefix %>' />
                            </div>
                        </div>
                    </div>
                    <div style='padding-bottom:3ex'></div>
                    <input type='submit' class='button' value='<%= i18nnextbutton %>' onClick="window.event.preventDefault(); submitmysql()" />
                    <svg class="spinner submitnotifier" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg>
                    <small style="margin-left:35px" class="submitnotifier"><%= i18nsubmittingmysql %></small>
                </form>
                <div style='padding-bottom:1.5ex'></div>
                <a href="https://wiki.btsbot.439bananas.com/wiki/Installing#MySQL_configuration"><%= i18nneedhelp %></a>
            </div>
        </main>
    </body>
</html>