<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
    <script type=module>
        var langs = <%- JSON.stringify(langs) %>;
        langs.sort(function (a, b) {
            if (a[1] < b[1]) { return -1; }
            if (a[1] > b[1]) { return 1; }
            return 0;
        })
        langs.forEach(language => {
            if (language[0] == "<%= defaultlanguage %>") {
                var selected = "selected "
            } else {
                var selected = ""
            }
            $('#language').append("<option " + selected + "value=\"" + language[0] + "\" class=\"dropdown-option\" id=\"languagedropdown\">" + language[1] + "</option>")
        })
    </script>
    <script src='/resources/smc.js'></script>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="container">
            <h1><%= i18nheadertitle %></h1>
            <%= i18nstepone %>
            <div class="alert-box danger text-wrap" id="cannotcontactservererror">
                SERVER_CONNECTION_REFUSED: <%= i18nserverlostcontact1 %><%= projname %><%= i18nserverlostcontact2 %><br /><%= i18nserverlostcontactdiag1 %><%= projname %><%= i18nserverlostcontactdiag2 %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <div class="alert-box danger text-wrap" id="accessdeniederror">
                ACCESS_DENIED: <%= projname %><%= i18dbaccessdenied %><br /><%= i18dbaccessdenieddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="connectionrefusederror">
                CONNECTION_REFUSED: <%= projname %><%= i18ndbconnectionrefused %><i id='hostname'></i>.<br /><%= i18ndbconnectionrefuseddiag %>
            </div>
            <div class="alert-box danger text-wrap" id="incorrectcredentialserror">
                INCORRECT_CREDENTIALS: <%= i18ndbbadcreds %><br /><%= i18ndbbadcredsdiag %>
            </div>
            <div class="alert-box danger text-wrap" id="wrongendpointerror">
                WRONG_ENDPOINT: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %><a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="confokerror">
                CONF_OK: <%= i18nwrongendpoint %><br /><%= i18nwrongendpointdiag1 %> <a href="/"><%= i18nwrongendpointdiag2 %></a>.
            </div>
            <div class="alert-box danger text-wrap" id="unknownerror">
                UNKNOWN_ERROR: <%= i18nunknownerror %><br /><%= i18nunknownerrordiag %><a href="<%= discord %>"><%= i18ndiscordserver %></a><%= i18nserverlostcontactdiag3 %>
            </div>
            <form id="sqlform">
                <div class="container" style="width:auto">
                    <div class="row">
                        <div class="col">
                            <label for='language' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndefaultlanguage %></label>
                            <select class="form-select input-cIJ7To" name="language" id="language">
                                <option style="display:none" value="dummy" class="dropdown-option" id="languagedropdown"></option>
                            </select>
                        </div>
                        <div class="col">
                            <label for='hostname' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbhost %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='hostname' name='hostname' value='<%= hostname %>' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='username' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbusermame %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='username' name='username' value='<%= username %>' />
                        </div>
                        <div class="col">
                            <label for='password' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbpassword %></label>
                            <input type='password' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='password' name='password' />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for='database' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndb %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='database' name='database' value='<%= database %>' />
                        </div>
                        <div class="col">
                            <label for='tableprefix' class="label-fppI2a marginBottom8-1wldKw small-29zrCQ size12-DS9Pyp height16-3r2Q2W primary300-qtIOwv weightSemiBold-tctXJ7 uppercase-1K74Lz"><%= i18ndbtableprefix %></label>
                            <input type='text' class="inputDefault-_djjkz input-cIJ7To size16-1__VVI" id='tableprefix' name='tableprefix' value='<%= tableprefix %>' />
                        </div>
                    </div>
                </div>
                <div style='padding-bottom:3ex'></div>
                <input type='submit' class='button' value='<%= i18nnextbutton %>' onClick="window.event.preventDefault(); submitmysql()" />
                <svg class="spinner submitnotifier" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
                <small style="margin-left:35px" class="submitnotifier"><%= i18nsubmittingmysql %></small>
            </form>
            <div style='padding-bottom:1.5ex'></div>
            <a href="https://wiki.btsbot.439bananas.com/wiki/Installing#MySQL_configuration"><%= i18nneedhelp %></a>
        </div>
    </main>
</body>
</html>