<!DOCTYPE html>
<html>
<head>
    <title><%= projname %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="global-intro-section">
            <div class="container">
                <h1><%= i18nheadertitle %></h1>
                <p style="padding-top: calc(0.5rem + 0.5vw)">
                    <%= i18nhomeintro1 %><%= projname %>.<br /><%= projname %><%= i18nhomeintro2 %>
                </p>
                <p>
                    <%= i18nhomeintro3 %>
                </p>
            </div>
        </div>
        <div class="home-feature-section">
            <div class="container">
                <h2 style="padding-top: 0.25em"><%= i18nhomefeaturestitle %></h2>
                <div class="row g-4 features">
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature1title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#inviteImage"><i class="twa twa-inbox-tray home-emoji"></i></a>
                        <div class="modal fade" id="inviteImage" tabindex="-1" aria-labelledby="inviteImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/invitedemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature1text %>
                        </p>
                    </div>
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature2title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#restoreImage"><i class="twa twa-floppy-disk home-emoji"></i></a>
                        <div class="modal fade" id="restoreImage" tabindex="-1" aria-labelledby="restoreImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/restoredemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature2text %>
                        </p>
                    </div>
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature3title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#scamImage"><i class="twa twa-hammer home-emoji"></i></a>
                        <div class="modal fade" id="scamImage" tabindex="-1" aria-labelledby="scamImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/scamdemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature3text %>
                        </p>
                    </div>
                </div>
                <div class="row g-4 features">
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature4title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#appealImage"><i class="twa twa-memo home-emoji"></i></a>
                        <div class="modal fade" id="appealImage" tabindex="-1" aria-labelledby="appealImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/appealdemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature4text %>
                        </p>
                    </div>
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature5title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#verifyImage"><i class="twa twa-office-building home-emoji"></i></a>
                        <div class="modal fade" id="verifyImage" tabindex="-1" aria-labelledby="verifyImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/verifydemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature5text %>
                        </p>
                    </div>
                    <div class="col feature">
                        <h3 class="feature-title"><%= i18nhomefeature6title %></h3>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#voiceImage"><i class="twa twa-telephone home-emoji"></i></a>
                        <div class="modal fade" id="voiceImage" tabindex="-1" aria-labelledby="voiceImageLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/resources/voicedemo.png" class="img-fluid mw-100" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= i18nhomefeature6text %>
                        </p>
                    </div>
                </div>
                <p style="text-align: center;">
                    <%= i18noutro1 %>
                    <br /><%= i18noutro2 %><a href="<%= oauth2link %>"><%= i18noutro3 %></a><%= i18noutro4 %>
                </p>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>