<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="global-intro-section">
            <div class="container">
                <h1><%= i18nheadertitle %></h1>
            </div>
        </div>
        <div class="container" style="padding-top: 0.75em">
            <p>
                <%- i18nnoconfintro1 %><code>conf.json</code><%- i18nnoconfintro2 %><%= confpath %><%- i18nnoconfintro3 %><%- projname %><%- i18nnoconfintro4 %><br /><%- i18nnoconfintrodiag %>
            </p>
            <input type='submit' class='button' value='<%= i18nnextbutton %>' title="<%= i18nnextbutton %>" onClick="window.location.href='/config/'" />
        </div>
    </main>
</body>
</html>