<!DOCTYPE html>
<html>
<head>
    <title><%= projname %> - <%= i18npagetitle %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="container">
            <h1>Under construction</h1>
            <p>
                This page is under construction. Come back later when more progress has been made.
            </p>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>